body {
    font-family: DejaVu Sans, sans-serif;
    font-size: 12px;
}
h1 {
    text-align: center;
    margin-bottom: 5px;
}
.date {
    text-align: center;
    margin-bottom: 20px;
    font-size: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}
th,
td {
    border: 1px solid #000;
    padding: 6px;
}
th {
    background: #eee;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}
